@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bs-font-sans-serif: 'Nunito';
}

body{
    margin: 0;
    padding: 0;
    background: url('../midias/bg_sistema.jpeg') fixed no-repeat;
    background-size: cover;
    background-position: right ;
}

.titulo {
    background-color: #1474B6;
    color: whitesmoke;
    font-weight: bold;
}

.cartao {
    height: calc(100vh - 3rem);
}


.rounded-4 {
    border-radius: 0.7rem !important;
}

.rounded-5 {
    border-radius: 1rem !important;
}

.cinza {
    background-color: var(--bs-gray-100);
}

.fora {
    position: absolute;
    top: 0;
	left: calc(100% - 32px);
	z-index: 100;
}

.registros {
    width: 6rem;
    display: inline-block;
}

.buscar {
    width: 200px;
    display: inline-block;
}

.imagem {
    width: 40px;
}